
npm
node_modules
ksana-corpus-lib
ksanalibindex.js
package-lock.json
desktop.ini


accelon3.exe
accelon3.ini
by.adb
by.adb.ini


by_build.log
by_logo.png
by_tags.log
by_tokens.log
by-s.xml
ccg.dll
indexer.exe
indexer.ini
lang_chs.ini
lang_cht.ini
lang_en.ini
lang_jp.ini
lang_kr.ini
single.eff
本因法師講戒筆錄(全部).txt

*.zip
*.bak
*.db
*.pdf
*.htm
*.html



